.content {
    margin-top: 30px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 200px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px;
    margin: auto auto 30px;
}

.miniTitle {

}